<p id="notice"><%= notice %></p>

<p>
  <strong>Spaciality:</strong>
  <%= @speciality.spaciality %>
</p>

<%= link_to 'Edit', edit_speciality_path(@speciality) %> |
<%= link_to 'Back', specialities_path %>
